---

---

<footer>
    <small>
        Copyright &copy; <span id="copyright"></span> | Todos los derechos reservados
    </small>
</footer>
<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>