---
import { Icon } from 'astro-icon/components'
--- 

<nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand" aria-label="Go Home">
            <Icon name="logomark"size={60}/>
        </a>
        <div class="collapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="#" class="nav-link">Inicio</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Oposiciones</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">Sobre nosotros</a>
            </li>
        </ul>
    </div>
</nav>